.logo-pic {
    margin: 0px auto 0 2%;
    width: 50px;
}

.container1 {
    background-color: #245953;
}

.navbar .navbar-nav .nav-link {
    color: #659172;
    font-size: large;
    margin-left: 20px;
}

.navbar .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.container2 {
    background-color: #e0ebe8;
    width: 100%;
}

.intro-heading {
    font-family: 'Dancing Script', cursive;
    padding-top: 100px;
    padding-bottom: 2%;
    font-size: 380%;
    color: #245953;
}

.intro {
    color: #245953;
    font-size: 100%;
}

.mountain {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.clouds {
    margin-left: 5%;
    margin-bottom: 40px;
    width: 12.5%;
    height: 6.25%;
}

.clouds2 {
    margin-left: 60%;
    margin-bottom: 90px;
    width: 12.5%;
    height: 6.25%;
}

.logo-pic02 {
    padding-top: 30px;
    width: 190px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#head {
    padding-top: 20px;
    text-align: center;
    color: #245953;
}

#para {
    padding-top: 10px;
    text-align: center;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    color: #659172;
}

.head {
    padding-top: 50px;
    text-align: center;
    color: #41644a;
}

.skills {
    padding-top: 80px;
}

.projects {
    display: flex;
    align-items: center;
}

.pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 8%;
}

.projects-pic {
    vertical-align: middle;
}

.projects-text {
    margin-top: 5%;
    width: 350px;
    margin-left: 15%;
    vertical-align: middle;
}

.skill-head {
    color: #245953;
}

.content {
    max-width: 500px;
    color: #659172;
}

@media (max-width: 549px) {
    .projects {
        flex-direction: column;
        align-items: center;
    }
    .projects-pic {
        margin-left: auto;
        margin-right: auto;
    }
    .projects-text {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        max-width: 350px;
    }
    .logo-pic02 {
        padding-top: 30px;
        width: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .intro-heading {
        font-family: 'Dancing Script', cursive;
        padding-top: 100px;
        padding-bottom: 2%;
        font-size: 350%;
        color: #245953;
    }
}

@media (max-width: 280px) {
    .projects {
        flex-direction: column;
        align-items: center;
    }
    .projects-pic {
        margin-left: auto;
        margin-right: auto;
    }
    .projects-text {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        max-width: 270px;
    }
    .logo-pic02 {
        padding-top: 30px;
        width: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .intro-heading {
        font-family: 'Dancing Script', cursive;
        padding-top: 100px;
        padding-bottom: 2%;
        font-size: 350%;
        color: #245953;
    }
}

@media (min-width: 550px) {
    .projects {
        display: flex;
        align-items: center;
    }
    .projects-pic {
        margin-left: 11%;
        vertical-align: middle;
    }
    .projects-text {
        margin-top: 8%;
        width: 360px;
        margin-left: 8%;
        vertical-align: middle;
    }
}

@media (min-width: 900px) {
    .projects {
        display: flex;
        align-items: center;
    }
    .projects-pic {
        margin-left: 16%;
        vertical-align: middle;
    }
    .projects-text {
        margin-top: 8%;
        width: 390px;
        margin-left: 8%;
        vertical-align: middle;
    }
}

@media (min-width: 1280px) {
    .projects {
        display: flex;
        align-items: center;
    }
    .projects-pic {
        margin-left: 22%;
        vertical-align: middle;
    }
    .projects-text {
        margin-top: 8%;
        width: 450px;
        margin-left: 8%;
        vertical-align: middle;
    }
}

@media (min-width: 1300px) {
    .projects {
        display: flex;
        align-items: center;
    }
    .projects-pic {
        margin-left: 25%;
        vertical-align: middle;
    }
    .projects-text {
        margin-top: 8%;
        width: 450px;
        margin-left: 8%;
        vertical-align: middle;
    }
}

.skill-head2 {
    color: #41644a;
}

.skills2 {
    padding-top: 80px;
}

.projects2 {
    display: flex;
    align-items: center;
}

.pic2 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 8%;
}

.projects-pic2 {
    vertical-align: middle;
}

.projects-text2 {
    margin-top: 5%;
    width: 350px;
    margin-left: 15%;
    vertical-align: middle;
}

.content2 {
    max-width: 500px;
    color: #659172;
}

@media (max-width: 549px) {
    .projects2 {
        flex-direction: column-reverse;
        align-items: center;
    }
    .projects-pic2 {
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }
    .projects-text2 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 350px;
    }
}

@media (max-width: 280px) {
    .projects2 {
        flex-direction: column-reverse;
        align-items: center;
    }
    .projects-pic2 {
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }
    .projects-text2 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 270px;
    }
}

@media (min-width: 550px) {
    .projects2 {
        display: flex;
        align-items: center;
    }
    .projects-pic2 {
        margin-left: 8%;
        vertical-align: middle;
    }
    .projects-text2 {
        margin-top: 8%;
        width: 360px;
        margin-left: 11%;
        vertical-align: middle;
    }
}

@media (min-width: 900px) {
    .projects2 {
        display: flex;
        align-items: center;
    }
    .projects-pic2 {
        margin-left: 8%;
        vertical-align: middle;
    }
    .projects-text2 {
        margin-top: 8%;
        width: 390px;
        margin-left: 16%;
        vertical-align: middle;
    }
}

@media (min-width: 1280px) {
    .projects2 {
        display: flex;
        align-items: center;
    }
    .projects-pic2 {
        margin-left: 8%;
        vertical-align: middle;
    }
    .projects-text2 {
        margin-top: 8%;
        width: 450px;
        margin-left: 22%;
        vertical-align: middle;
    }
}

@media (min-width: 1300px) {
    .projects2 {
        display: flex;
        align-items: center;
    }
    .projects-pic2 {
        margin-left: 8%;
        vertical-align: middle;
    }
    .projects-text2 {
        margin-top: 8%;
        width: 450px;
        margin-left: 25%;
        vertical-align: middle;
    }
}

hr.dotted {
    border: none;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    border-top: 5px dotted #808080;
}

.help-head {
    padding-top: 50px;
    text-align: center;
    color: #41644a;
}

.help-details {
    text-align: center;
    margin: 40px auto 20px auto;
    width: 50%;
    color: #659172;
}

@media (max-width: 549px) {
    .help-details {
        text-align: center;
        margin: 40px auto 20px auto;
        width: 90%;
        color: #659172;
    }
}

@media (min-width: 550px) {
    .help-details {
        text-align: center;
        margin: 40px auto 20px auto;
        width: 50%;
        color: #659172;
    }
}

.button {
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.button:hover {
    box-shadow: .5px .5px 150px #252525;
}

.type1::after {
    content: "Thanks";
    height: 50px;
    width: 150px;
    background-color: #245953;
    color: #fff;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(50px);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

.type1::before {
    content: "CONTACT ME";
    height: 50px;
    width: 150px;
    background-color: #fff;
    color: #245953;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(0px) scale(1.2);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

.type1:hover::after {
    transform: translateY(0) scale(1.2);
}

.type1:hover::before {
    transform: translateY(-50px) scale(0) rotate(120deg);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

footer ul.nav {
    margin: 0;
    padding: 0;
}

footer ul.nav li {
    list-style: none;
}

footer ul.nav li a {
    color: #6c757d;
    font-size: 1.5rem;
    transition: color 0.2s;
}

footer ul.nav li a:hover {
    color: #343a40;
}

footer {
    flex-direction: column-reverse;
    background-color: #245953;
}

.copy {
    margin-left: auto;
    margin-right: auto;
}

CSS.g-6,
.gx-6 {
    --bs-gutter-x: 4.5rem;
}

.g-6,
.gy-6 {
    --bs-gutter-y: 4.5rem;
}

@media (min-width: 576px) {
    .g-sm-6,
    .gx-sm-6 {
        --bs-gutter-x: 4.5rem;
    }
    .g-sm-6,
    .gy-sm-6 {
        --bs-gutter-y: 4.5rem;
    }
}

@media (min-width: 768px) {
    .g-md-6,
    .gx-md-6 {
        --bs-gutter-x: 4.5rem;
    }
    .g-md-6,
    .gy-md-6 {
        --bs-gutter-y: 4.5rem;
    }
}

@media (min-width: 992px) {
    .g-lg-6,
    .gx-lg-6 {
        --bs-gutter-x: 4.5rem;
    }
    .g-lg-6,
    .gy-lg-6 {
        --bs-gutter-y: 4.5rem;
    }
}

@media (min-width: 1200px) {
    .g-xl-6,
    .gx-xl-6 {
        --bs-gutter-x: 4.5rem;
    }
    .g-xl-6,
    .gy-xl-6 {
        --bs-gutter-y: 4.5rem;
    }
}

@media (min-width: 1400px) {
    .g-xxl-6,
    .gx-xxl-6 {
        --bs-gutter-x: 4.5rem;
    }
    .g-xxl-6,
    .gy-xxl-6 {
        --bs-gutter-y: 4.5rem;
    }
}

.mb-6 {
    margin-bottom: 4.5rem !important;
}

.py-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
}

.w-65 {
    width: 65% !important;
}

.w-100 {
    width: 100% !important;
}

.w-50 {
    width: 100% !important;
}

.w-75 {
    width: 75% !important;
}

.w-30 {
    width: 30% !important;
}

@media (min-width: 576px) {
    .mb-sm-6 {
        margin-bottom: 4.5rem !important;
    }
    .py-sm-6 {
        padding-top: 4.5rem !important;
        padding-bottom: 4.5rem !important;
    }
}

@media (min-width: 768px) {
    .mb-md-6 {
        margin-bottom: 4.5rem !important;
    }
    .py-md-6 {
        padding-top: 4.5rem !important;
        padding-bottom: 4.5rem !important;
    }
}

@media (min-width: 992px) {
    .mb-lg-6 {
        margin-bottom: 4.5rem !important;
    }
    .py-lg-6 {
        padding-top: 4.5rem !important;
        padding-bottom: 4.5rem !important;
    }
}

@media (min-width: 1200px) {
    .mb-xl-6 {
        margin-bottom: 4.5rem !important;
    }
    .py-xl-6 {
        padding-top: 4.5rem !important;
        padding-bottom: 4.5rem !important;
    }
}

@media (min-width: 1400px) {
    .mb-xxl-6 {
        margin-bottom: 4.5rem !important;
    }
    .py-xxl-6 {
        padding-top: 4.5rem !important;
        padding-bottom: 4.5rem !important;
    }
}
